<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<div th:include="includes/header"></div>

<!-- Content -->
<section class="uk-section uk-article">
    <div class="uk-container uk-container-small">
        <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">Person</h2>
    
        <!-- // Formulaire  -->
        <form action="/add-article" method="post" th:object="${article}">

            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Form Article</legend>

				 <!-- Champ de saisie title -->
                <div class="uk-margin">
                    <div class="uk-form-label">Titre</div>
                      <!-- Les erreurs du champ title -->
                      <ul th:if="${#fields.hasErrors('title')}">
                        <li class="uk-form-danger" th:each="error : ${#fields.errors('title')}" th:text="${error}"></li>
                    </ul>
                    <div class="uk-form-controls">
                        <input class="uk-input" th:class="${#fields.hasErrors('title')} ? 'uk-input uk-form-danger' : 'uk-input'" type="text" th:field="${article.title}" placeholder="Title"
                            aria-label="Input">
                    </div>
                </div>

                <!-- Bouton Submit -->
                <div class="uk-margin" uk-margin>
                    <button class="uk-button uk-button-default">Submit</button>
                </div>
            
            </fieldset>
        </form>

    </div>
</section>
<!-- ./Content -->
<!-- Footer -->
<div th:include="includes/footer"></div>

</html>