<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<div th:include="includes/header"></div>

<!-- Content -->
<section class="uk-section uk-article">
    <div class="uk-container uk-container-small">
        <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">Person</h2>
        
        <!-- Layout sous forme de grid -->
        <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>

            <!-- Pour chaque personne -->
            <div th:each="person : ${persons}">
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <h3 class="uk-card-title" th:text="${person.lastname}"></h3>
                    <p th:text="${person.firstname}"></p>
                    <!-- Lien pour rediriger sur le form -->
                    <!-- Exemple du resultat généré : /person/isaac -->
                    <a th:href="@{'/person/' + ${person.slug}}">Voir</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./Content -->

<!-- Footer -->
<div th:include="includes/footer"></div>

</html>